<div>
	<h3> Tratamiento de P&oacute;lizas con Tabs </h3>
	<tabset>
		<tab heading="Primer Pesaña">
			<div class="panel panel-default">
				<div class="panel-body">
					<legend> Clave </legend>
					<div>
						<label for="selectTr"> Tipo de transacci&oacute;n:</label>
						<select class="form-control"  id="selectTr">
							<option> Tipo Transacci&oacute;n 1</option>
							<option> Tipo Transacci&oacute;n 2</option>
							<option> Tipo Transacci&oacute;n 3</option>
							<option> Tipo Transacci&oacute;n 4</option>
						</select>
					</div>
					<div>
					<label for="fechaVig"> Fecha de Vigencia: </label>
						<div class="row">
							<div class="col-md-11">
								<p class="input-group">
								<input  type="text"  class="form-control" datepicker-popup="dd/MM/yyyy" 
								is-open="openedFrom" min-date="fromDate"  ng-model="fromDate" 
								ng-required="true" close-text="Close" date-type="string"/> 
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openFrom($event)">
									<i class="glyphicon glyphicon-calendar"></i></button>
								</span>
								</p>
							</div>
						</div>
					</div>
					<label for="autocomp">Producto: </label>
					<div  id="autocomp">
						<angucomplete pause="100" selectedobject="selectedOption" localdata="products" searchfields="op" titlefield="op" minlength="2" inputclass="form-control form-control-small" matchclass="highlight" />
					</div>
					
					<legend>Tipo de P&oacute;liza </legend>
					<div>
						<input type="radio" name="tipoPoliza" value="individual" id="radioInd"/><label for="radioInd">Individual</label></br>
						<input type="radio" name="tipoPoliza" value="colectivo" id="radioCol"/><label for="radioCol">Colectivo</label></br>
						<input type="radio" name="tipoPoliza" value="multilocalidad" id="radioMulti"/><label for="radioMulti">Multilocalidad</label>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Segunda Pesaña">
			<a data-toggle="modal" data-target="#myModal">Mostrar Modal</a>
		
		</tab>
		<tab heading="Pesaña Inhabilitada" disabled="true">
			Static content
		</tab>
    
	</tabset>

	<hr />
  
  
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h3 class="modal-title" id="myModalLabel">Modal demo</h3>
				</div>
				<div class="modal-body">
					Modal de ejemplo
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
		

 
</div>
